<% content_for :title, "#{@prefecture.name}で不動産売却に強い会社は?" %>

<div class="container mt-4">
  <h1><%= @prefecture.name %>の不動産会社</h1>

  <div class="row">
    <% @branches.each do |branch| %>
    <% if branch.reviews.count > 0 %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <%= link_to branch_path(branch.id) do %>
            <div class="card-body">
              <%= image_tag branch.logo_url, class:"card-img-top", alt:"不動産業者のロゴ" %>
              <h2 class="card-title"><%= branch.company.name %></h2>
              <h3 class="card-subtitle">★<%=branch.all_average_score() %></h3>
              <p class="card-text">営業時間：<%= branch.business_hours_text %></p>
              <p class="card-text">定休日：<%= branch.holidays_text %></p>
              <p class="card-text">住所：<%= branch.address %></p>
              <p class="card-text">会社の決め手：<%= branch.reviews[0].decision_reason %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>

  <div class="border rounded mt-4 p-4">
    <h2 class="mb-4"><%= @prefecture.name %>の他の地域の不動産会社を見る</h2>
    <div class="row">
      <% @cities.each do |city| %>
      <%# Todo linkをcity_pathに置き換える %>
      <div class="col-6 col-md-3 mb-2">
     <%= link_to city.name, prefecture_city_path(@prefecture.name, city.name), class: "d-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>



<style>
  a, a:hover, a:focus {
    color: black;
    text-decoration: none;
  }
</style>